# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ARMOR_DOG_PELT=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Blue_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Blue_Gem_Armor=7
    I:CACTUSARMOUR=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Carbon_Armor=15
    I:ChefToque=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:Crystal_Armor=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:DESH=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10
    I:EMERALD=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0
    I:FUR=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Green_Diamond_Armor=7
    I:HARDENEDSANDSTONEARMOUR=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:JACKET=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK_SJ=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15
    I:MITHRIL=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:Magnesium_Armor=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:Mercury_Armor=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:GOGGLES"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:GOGGLES_C"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:Palladium_Armor=13
    I:PiratHat=100
    I:PlagueMask=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Purple_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:"RA:FLUXELECTRUM"=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Red_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Red_Gem_Armor=7
    I:SANDSTONEARMOUR=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SENSORGLASSES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SHADES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SHADES2=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T1_COMBAT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T1_MINER=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T1_SCOUT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T1_STEAM=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T2_BERET=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T2_COMBAT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T2_COMMANDO=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T2_HAZMAT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T2_RIOT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T3_COMBAT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T3_EXO=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T3_MINER=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T3_POWER=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T4_POWER=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:T4_PRAETOR=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:TRENCHCOAT=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:TRITANIUM=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:Tier1_SpaceSuit_Armor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:Tier2_SpaceSuit_Armor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:Tier3_SpaceSuit_Armor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:Tier4_SpaceSuit_Armor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Tungsten_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:Uranium_Armor=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:White_Gem_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:Yellow_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:Zinc_Armor=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:atlas=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"atomicscience:hazmat"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"atomicscience:hazmat_color"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25
    I:guard_helm=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:ion=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:legion=0
    I:materialPig=3
    I:materialPolarBear=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ogre=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:steel=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:stryder=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:titanium=20
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:ALIENSWORD=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BEAR_CLAW_PAXEL=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14
    I:BaghHakhs=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Blue Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Blue Gem Material"=30
    I:CACTUSAXE=2
    I:CACTUSHOE=2
    I:CACTUSPICKAXE=2
    I:CACTUSSHOVEL=2
    I:CACTUSSWORD=2
    I:CERAMICAXE=5
    I:CERAMICHOE=2
    I:CERAMICPICKAXE=5
    I:CERAMICSHOVEL=5
    I:CERAMICSWORD=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Carbon Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Crystal Material"=30
    I:DEMONIC=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DESH=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10
    I:FROST=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GEM=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Green Diamond Material"=30
    I:HARDENEDSANDSTONEAXE=5
    I:HARDENEDSANDSTONEHOE=2
    I:HARDENEDSANDSTONEPICKAXE=5
    I:HARDENEDSANDSTONESHOVEL=5
    I:HARDENEDSANDSTONESWORD=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:KATANA=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:LIGHTNINGSWORD=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15
    I:MITHRIL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Magnesium Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Mercury Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"PT:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"PT:BRONZE"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"PT:CONSTANTAN"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"PT:COPPER"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"PT:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"PT:FLINT"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"PT:INVAR"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"PT:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:PLATINUM"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"PT:SILVER"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"PT:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"PT:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Palladium Material"=30
    I:PiratCutlass=30
    I:PlagueScythe=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Purple Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"RA:FLUXELECTRUM"=25
    I:REALEMERALD=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Red Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Red Gem Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SILVER=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:SPACESWORD2=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:Steel=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:TRITANIUM=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Tungsten Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Uranium Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"White Gem Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Yellow Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"Zinc Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:industrial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:inspirations.blaze=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.bone=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.wither=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:material_bone=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:material_clay=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 4]
    I:material_flint=4

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_netherrack=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 35]
    I:material_quartz=35

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:material_sandstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:steel=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:titanium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:volcanic=10
}


