# Configuration file

~CONFIG_VERSION: 1.12.2-3.2.0.3

##########################################################################################################
# loot_weights
#--------------------------------------------------------------------------------------------------------#
# Weight in the loot table, higher the number lower the chance of dropping. Zero and lower will disable the entry.
##########################################################################################################

loot_weights {
    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminum=10
    I:dustBeryllium=10
    I:dustBoron=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustBronze=-1
    I:dustCobalt=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustConstantan=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustCopper=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustDarkIron=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustDesh=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustElectrum=-1
    I:dustEnderium=10

    #  [range: -1 ~ 32767, default: 15]
    I:dustGold=15
    I:dustGraphite=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustInvar=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustIridium=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustIron=5

    #  [range: -1 ~ 32767, default: 8]
    I:dustLead=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustLithium=10
    I:dustLumium=-1
    I:dustMagnesium=10
    I:dustManganese=10
    I:dustManganeseDioxide=10
    I:dustManganeseOxide=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustMithril=-1

    #  [range: -1 ~ 32767, default: 8]
    I:dustNickel=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustOsmium=10

    #  [range: -1 ~ 32767, default: 18]
    I:dustPlatinum=18
    I:dustSignalum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilver=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustSteel=-1
    I:dustThorium=10
    I:dustThoriumOxide=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustTin=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitanium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTritanium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTungsten=10
    I:dustUranium=10
    I:dustUraniumOxide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZinc=10
    I:dustZirconium=10
}


