# Configuration file

client {
    # Client ID of the Discord Rich Presence as seen in the developer portal
    S:"App ID"=654437126737231903
    S:"Large Image Key"=bg
    S:"Small Image Key"=logo2
    S:"Small Image Text"=Planetary
}


