// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.5\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "GameTime12",
  "info2Label": "LightLevel",
  "info3Label": "Location",
  "info4Label": "FPS",
  "sizePercent": "30",
  "frameAlpha": "90",
  "terrainAlpha": "100",
  "orientation": "PlayerHeading",
  "compassFontScale": "2",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "PlayerHeading",
  "active": true,
  "playerDisplay": "LargeIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeIcons",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "night",
  "zoomLevel": "0",
  "configVersion": "5.5.5"
}